# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
db.sqlite3
*.log
staticfiles/
media/

# VS Code
.vscode/

# Environments
venv/
.env
.env.*

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid
